@font-face {
  font-family: "iconfont"; /* Project id 4620800 */
  src: url('//at.alicdn.com/t/c/font_4620800_s3qw7sfi80h.woff2?t=1722916407260') format('woff2'),
       url('//at.alicdn.com/t/c/font_4620800_s3qw7sfi80h.woff?t=1722916407260') format('woff'),
       url('//at.alicdn.com/t/c/font_4620800_s3qw7sfi80h.ttf?t=1722916407260') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wodekefu:before {
  content: "\e68b";
}

.icon-shipin:before {
  content: "\e6dd";
}

.icon-customer:before {
  content: "\e618";
}

.icon-queren:before {
  content: "\e64b";
}

.icon-shichang:before {
  content: "\e706";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-lianjie:before {
  content: "\e600";
}

.icon-wenjian:before {
  content: "\e631";
}

.icon-biaoqing-xue:before {
  content: "\e632";
}

.icon-jiantou:before {
  content: "\e633";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-text_tool:before {
  content: "\e67f";
}

.icon-tupian:before {
  content: "\e60b";
}

.icon-dianhua:before {
  content: "\e60c";
}

.icon-yinle:before {
  content: "\e607";
}

.icon-weiyanzheng:before {
  content: "\e88c";
}

.icon-sangedian:before {
  content: "\e63c";
}

.icon-xiazai:before {
  content: "\e61a";
}

.icon-tubiao-:before {
  content: "\e611";
}

.icon-zhuxiao:before {
  content: "\e651";
}

.icon-huiyuanquanyi:before {
  content: "\e6c3";
}

.icon-zhanghushezhi:before {
  content: "\e68e";
}

.icon-qianbao:before {
  content: "\e829";
}

.icon-gerenziliao:before {
  content: "\e772";
}

.icon-tongjishuju:before {
  content: "\e63f";
}

.icon-shoucang1:before {
  content: "\e612";
}

.icon-pingbi:before {
  content: "\e693";
}

.icon-jiangpai:before {
  content: "\ec48";
}

.icon-yusuanzonge:before {
  content: "\e663";
}

.icon-faxiangmu:before {
  content: "\e623";
}

.icon-guanbicuowu:before {
  content: "\e62f";
}

.icon-shoucang:before {
  content: "\e610";
}

.icon-cuowu:before {
  content: "\e605";
}

.icon-wancheng:before {
  content: "\e667";
}

.icon-fujian:before {
  content: "\e691";
}

.icon-gongzuo:before {
  content: "\e656";
}

.icon-liuyan:before {
  content: "\e6a8";
}

.icon-jinqian:before {
  content: "\e62c";
}

.icon-tianjia1:before {
  content: "\e60a";
}

.icon-tishi:before {
  content: "\e622";
}

.icon-tianjia:before {
  content: "\e62b";
}

.icon-shanchu:before {
  content: "\e615";
}

.icon-shangxiajiantou:before {
  content: "\ee31";
}

.icon-dizhi:before {
  content: "\e7a2";
}

.icon-sousuo:before {
  content: "\e609";
}
