@import './base.css';

#app {
}

.wrapper {
    padding: 0 15px;
}

.container {
    width: 1326px;
    max-width: 100%;
    margin: 0 auto;
    /* min-width: 1200px; */
}

.green {
    text-decoration: none;
    color: #58968B;
}

.banner {
    background-color: #EAF6F2;
}

.banner .container {
    display: flex;
    justify-content: space-between;
    padding: 108px 160px 124px 160px;
    width: 100%;
}

.banner .info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.banner .txt .big {
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 5px;
	font-family: "ysbth", "Microsoft YaHei", sans-serif;
}

.banner .txt .small {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
	font-family: "ysbth", "Microsoft YaHei", sans-serif;
}

.banner .info .btn a {
    width: 144px;
    height: 42px;
    background: #58968B;
    border-radius: 12px;
    display: block;
    text-align: center;
    line-height: 42px;
    color: #ffffff;
    font-size: 16px;;
}

.banner .info .btn a:hover {
    background: #4bac9b;
}

.banner .info .icons {
    display: flex;
}

.banner .info .icons .icon {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-right: 80px;
    font-size: 16px;
}

.banner .info .icons .icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
}

.banner .info .icons .icon:last-child {
    margin-right: 0;
}

.part1 {
    padding: 80px 0;
}

.part1 .title {
    width: 531px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 20px;;
}

.part1 .box {
    height: 600px;
    background: url(../img/woshou.png) no-repeat right center;
    display: flex;
}

.part1 .box .left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 15px 0;
    height: 600px;
}

.part1 .item {
    width: 578px;
    padding: 30px 0 30px 80px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 170px;
    display: flex;
}

.part1 .item .tit {
    line-height: 46px;
    font-size: 34px;
    font-weight: initial;
    margin-bottom: 5px;
}

.part1 .item .des {
    font-size: 20px;
    color: #808080;
    line-height: 28px;;
}

.part1 .item .icon {
    margin-right: 20px;;
}

.part1 .box .right {
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
    flex: 1;
    justify-content: center;
}

.part1 .box .right ul {
    display: flex;
}

.part1 .box .right ul a {
    display: block;
    width: 164px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 16px;;
}

.part1 .box .right ul .reg a {
    background-color: #ffffff;
    border-radius: 12px;
    color: #58968B;
}

.part1 .box .right ul .lj a {
    color: #ffffff;
}


.part2 {
    padding: 80px 0 0;
}

.part2 .title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 18px;
    font-weight: initial;
}

.part2 .title2 a {
    font-size: 14px;
    color: #58968B;
    text-decoration: underline;
}

.part2 .title2 {
    margin-bottom: 42px;
    font-size: 14px;
}

.part2 .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.part2 .item {
    background-color: #F9F9F9;
    border-radius: 4px;
    padding: 22px;
    width: 296px;
    height: 134px;
    margin-bottom: 50px;
	cursor: pointer;
}

.part2 .item:hover {
    background-color: #e9e9e9;
}

.part2 .item .tit {
    font-size: 20px;
    margin-bottom: 20px;
}

.part2 .item .info {
    color: #676767;
    display: flex;
}

.part2 .item .info .star {
    display: flex;
    margin-right: 40px;
}

.part2 .item .info .star img {
    margin-right: 3px;
}

.part3 {
    padding: 33px 0 80px;
}

.part3 .container {
    height: 556px;
    background: url(../img/Group24.png) no-repeat right center;
    padding: 40px 0 20px 40px;
}

.part3 .title1 {
    font-size: 20px;
    color: #DDFFF9;
    margin-bottom: 60px;
}

.part3 .title2 {
    font-size: 20px;
    color: #DDFFF9;
    font-size: 50px;
    margin-bottom: 15px;
}

.part3 .title3 {
    font-size: 20px;
    color: #42F5F4;
    font-size: 50px;
    margin-bottom: 50px;
}

.part3 .box {
    margin-bottom: 50px;;
}

.part3 .box .item {
    display: flex;
    align-items: center;
    color: #DDFFF9;
    font-size: 16px;
    margin-bottom: 10px;
}

.part3 .box .item img {
    margin-right: 10px;;
}

.part3 .btn a {
    display: block;
    width: 164px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 12px;
    color: #30BDBC;
    margin-bottom: 50px;
}

.part3 .info {
    color: #DDFFF9;
}


.part3 {
    padding: 33px 0 80px;
}

.part3 .container {
    height: 556px;
    background: url(../img/Group24.png) no-repeat right center;
    padding: 40px 0 20px 40px;
}

.part3 .title1 {
    font-size: 20px;
    color: #DDFFF9;
    margin-bottom: 60px;
}

.part3 .title2 {
    font-size: 20px;
    color: #DDFFF9;
    font-size: 50px;
    margin-bottom: 15px;
}

.part3 .title3 {
    font-size: 20px;
    color: #42F5F4;
    font-size: 50px;
    margin-bottom: 50px;
}

.part3 .box {
    margin-bottom: 50px;;
}

.part3 .box .item {
    display: flex;
    align-items: center;
    color: #DDFFF9;
    font-size: 16px;
    margin-bottom: 10px;
}

.part3 .box .item img {
    margin-right: 10px;;
}

.part3 .btn a {
    display: block;
    width: 138px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 12px;
    color: #30BDBC;
    margin-bottom: 50px;
}

.part3 .info {
    color: #FFFFFF;
    opacity: 0.6;
}


.part4 .container {
    height: 638px;
    background: url(../img/Group23.png) no-repeat right center;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.part4 .container .left {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.part4 .container .right {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.part4 .title1 {
    font-size: 20px;
    opacity: 0.8;;
}

.part4 .title2 {
    font-size: 60px;
    line-height: 70px;
}

.part4 .title3 {
    font-size: 16px;
    line-height: 20px;
    opacity: 0.8;
}

.part4 .item {
    background: rgba(224, 125, 54, 0.5);
    width: 398px;
    height: 153px;
    border-radius: 10px;
    padding: 18px;
}

.part4 .item .tit {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 15px;
}

.part4 .item .link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.part4 .item .link a {
    font-size: 16px;
    color: #ffffff;
    opacity: 0.8;
}

.part4 .item .link img {
    margin-left: 10px;;
}


.part5 {
    height: 774px;
    background: url(../img/Rectangle6.png) no-repeat center;
    margin: 80px 0;
	overflow: hidden;
}

.part5 .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 40px;
}

.part5 .title1 {
    font-size: 60px;
    opacity: 0.8;
    position: absolute;
    left: -77px;
    top: 10px;
	font-family: "dingdingjinbuti", "Microsoft YaHei", sans-serif;
}

.part5 .left .box {
    width: 875px;
    height: 630px;
    background-color: #ffffff;
    padding-top: 148px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.part5 .left .box .item {
    width: 459px;
    height: 138px;
    border-radius: 6px;
    box-shadow: 0px 4px 12px 0px rgba(138, 138, 138, 0.12);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    padding-right: 0;
}

.part5 .left .box .item .icon {
    margin-top: 5px;
}

.part5 .left .box .item .tit {
    line-height: 26px;
    font-size: 26px;
    font-weight: initial;
    margin-bottom: 10px;
}

.part5 .left .box .item .des {
    font-size: 16px;
    color: #687A77;
    line-height: 22px;;
}

.part5 .left .box .item .icon {
    margin-right: 15px;;
}

.part5 .right {
    position: relative;
    width: calc(1326px - 875px);
    color: #ffffff;
}

.part5 .right .box {
    width: 480px;
    position: absolute;
    left: -19px;;
}

.part5 .right .box .tit1 {
    font-size: 120px;
    margin-bottom: 30px;
}

.part5 .right .box .tit2 {
    font-size: 80px;
    margin-bottom: 30px;
}

.part5 .right .box .tit3 {
    font-size: 60px;;
}


.part6 .container {
    height: 638px;
    background: url(../img/Maskgroup.png) no-repeat left center;
    display: flex;
    justify-content: space-between;
}

.part6 .left {
    padding: 32px;
    width: 786px;;;
}

.part6 .left .title1 {
    font-size: 20px;
    opacity: 0.8;;
}

.part6 .right {
    flex: 1;
    position: relative;
    padding-left: 53px;
}

.part6 .right .tit1 {
    color: #58968B;
    font-size: 60px;
    position: relative;
    left: -211px;
    top: 57px;
}

.part6 .right .tit2 {
    font-size: 16px;
    line-height: 20px;
    width: 384px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.part6 .right .box {
    padding: 20px;
    border-left: 1px solid #58968B;
}

.part6 .right .box .item {
    margin-bottom: 60px;
    font-size: 16px;
    width: 177px;
    line-height: 22px;
    position: relative;
}

.part6 .right .box .item:last-child {
    margin: 0;
}

.part6 .right .box .item span {
    position: absolute;
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 7px;
    border: 2px solid #58968B;
    left: -24px;
    top: 8px;
}

.part6 .right .btn a {
    display: block;
    width: 164px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    background-color: #58968B;
    border-radius: 12px;
    color: #ffffff;
    margin-bottom: 50px;
    margin-top: 40px;
}

.part6 .right .btn a:hover {
    background: #4bac9b;
}

.part7 {
    margin: 80px 0 160px;
    background: url(../img/Rectangle9.png) no-repeat center;
    padding: 0 45px;
}

.part7 .title1 {
    padding: 60px 0;
    text-align: center;
    letter-spacing: 30px;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}

.part7 .container {
    width: 100%;
}

.part7 .box {
    display: flex;
    justify-content: space-between;
}

.part7 .item {
    width: 32%;
    height: 225px;
    border-radius: 10px;
    background-color: #F9F9F9;
    padding: 26px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size: 24px;
    line-height: 30px;
}

.part7 .item span {
    font-size: 14px;;
}


@media (max-width: 1700px) {
    .banner .txt .big {
        font-size: 50px;
    }

    .part1 .title {
        font-size: 50px;
    }

    .part4 .title2 {
        font-size: 50px;
    }

    .banner .txt .small {
        font-size: 35px;
    }

    .banner .info .icons .icon {
        margin-right: 50px;
    }

    .banner .container {
        padding: 108px 100px 124px 100px;
    }

    .part5 .right .box .tit1 {
        font-size: 100px;
    }

    .part5 .right .box .tit2 {
        font-size: 60px;
    }

    .part5 .right .box .tit3 {
        font-size: 40px;;
    }

    .part5 .title1 {
        font-size: 50px;;
    }
}

@media (max-width: 1500px) {
    .part5 .title1 {
        left: 0;
        top: 10px;;
    }

}

@media (max-width: 1400px) {
    .banner {
        padding: 0 15px;
    }

    .banner .container {
        padding: 108px 0 124px 0;
        width: 1326px;
    }
}

@media (max-width: 1366px) {
    .part5 .left .box{
		width: 810px;
	}
}

@media (max-width: 1280px) {
    .part5 .left .box{
		width: 793px;
	}
}	

.home-main {
    overflow-y: auto;
    height: 100%;
}